* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background-image: linear-gradient(to right, #2193b0, #6dd5ed);
    padding: 0 !important;
}
#nav-bar .navbar-brand {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-left: 15px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 500;
    float: right;
    text-align: left;
}
.fa-bars {
    color: #fff;
    font-size: 30px;
}
.navbar-toggler {
    outline: none;
}
#banner {
    background-image: linear-gradient(to right, #2193b0, #6dd5ed );
    color: #fff;
    padding: 5%;
}
.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
small {
    font-size: 30px;
}
#banner a {
    color: #fff;
    text-decoration: none;
}
#banner .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right,#2193b0, #6dd5ed );
}

#services {
    padding: 80px 0;
}
.service-img {
    width: 100px;
    margin-top: 20px;
}
.services {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 5px;
    margin-bottom: 20px;
}
.services:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.services h4 {
    text-transform: uppercase;
    margin-top: 25px;
    padding: 5px;
    font-weight: 500;
    letter-spacing: 1px;
}
.title::before{
    content: '';
    background: #6dd5ed;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;  
    display: block;
    transform: translateY(63px); 
}
.title::after {
    content: '';
    background: #6dd5ed;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px ;
    display: block;
    transform: translateY(8px); 
}
#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #2193b0, #6dd5ed );

}
#about-us {
    background: #f8f9fa; 
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li {
    margin: 10px 0; 
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
}
#about-us .img-fluid {
    width: 100%;
    height: 300px;
    padding-top: 20px;
}
#social-media {
    background: #fff;
    padding: 100px 0;
}
#social-media p {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}
.social-icons i {
    width: 60px;
    transition: 0.5s;
    margin: 0 10px;
    
}
.social-icons a:hover i {
    transform: translateY(-10px);
}

#footer {
    background-image: linear-gradient(to right, #2193b0, #6dd5ed  );
    color: #fff;
}
.footer-box {
    padding: 20px;
}
.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
}
.footer-box .form-control {
    box-shadow: none ! important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #2193b0, #6dd5ed  );
}
.head {
    font-size: 30px;
    font-weight: 700;
}
#login {
    background: #f8f9fa;
}

#login .container {
    width: 100vh;

    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
#login .img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#login .img img {
    width: 500px;
    height: 300px;
    margin-left: 10px;
    margin-top: 20px;
}
.login-container {

    display: flex;
    align-items: center;
    text-align: center;
}
#login form {
    width: 360px;
}
#login .avatar {
    width: 100px;
}
#login form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}
#login .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
#login .input-div:after, .input-div:before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: #6dd5ed;
    transition: .3s;
}
.input-div:after{
    right: 50%;
}
.input-div:before{
    left: 50%;
}
#login .input-div.focus .i i{
    color: #6dd5ed;
}
#login .input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
}
.input-div.focus:after, .input-div.focus:before{
    width: 50%;
}
#login .input-div.one {
    margin-top: 0;
}
#login .input-div.two{
    margin-bottom: 4px;
}
#login .i {
    display: flex;
    justify-content:center;
    align-items: center;
}
#login .i i{
    color: #d9d9d9;
    transition: .3s;
}
#login .input-div > div{
    position: relative;
    height: 45px;
}
#login .input-div > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}
#login .input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}
#login a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}
#login a:hover{
    color: #6dd5ed;
}
#login .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #2193b0, #6dd5ed);
    text-transform: uppercase;
    background-size: 200%;
    color: #fff;
    transition: .5s;
}
#login .btn:hover{
    background-position: right;
}
@media screen and (max-width: 1050px){
    #login .container{
        grid-gap: 5rem;
    }
}
@media screen and (max-width:1000px){
    #login form{
        width: 290px;
    }

    #login form h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }
    #login .img img{
        width: 400px;
    }
}
@media screen and (max-width:900px){
    #login .img{
        display: none;
    }
    #login .container{
        grid-template-columns: 1fr;
    }
    #login .login-container{
        justify-content: center;
    }
}